<?xml version="1.0"?>

<robot name="quaro" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <xacro:arg name="debug" default="0"/>
  <xacro:arg name="namespace" default="quaro"/>
  <xacro:arg name="use_simplified_mesh" default="false"/>
  <xacro:arg name="inertial_reference_frame" default="world"/>
  <!-- Include the ROV macro file -->
  <xacro:include filename="$(find quaro_description)/urdf/quaro_base.xacro"/>
  <xacro:include filename="$(find uaro_description)/urdf/quaro.gazebo.xacro"/>

  <!-- Create quaro -->
  <xacro:quaro_base
    namespace="$(arg namespace)"
    use_simplified_mesh="$(arg use_simplified_mesh)"
    inertial_reference_frame="$(arg inertial_reference_frame)">
  </xacro:rexrov2_base>

  <!-- Joint state publisher plugin -->
  <xacro:default_joint_state_publisher namespace="$(arg namespace)" update_rate="50"/>

</robot>
