<?xml version="1.0"?>
<robot name="quaro-body" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="pi" value="3.1415"/>
  <xacro:property name="version" value=".0.0"/>
  <xacro:include filename="$(find quaro_description)/urdf/common/colors.xacro"/>
  <xacro:include filename="$(find quaro_description)/urdf/leg/leg${version}.xacro"/>
  <xacro:include filename="$(find quaro_description)/urdf/body/body${version}.xacro"/>
  <xacro:include filename="$(find quaro_description)/urdf/quaro.gazebo.xacro"/>
  <xacro:include filename="$(find quaro_description)/urdf/common/ax12a.xacro"/>

  <xacro:property name="scale" value="${1e-3}"/>
  <xacro:property name="scale_mm" value="${1*scale}"/>
  <xacro:property name="scale_mm2" value="${scale_mm*scale_mm}"/>
  <xacro:property name="gtoKg" value="1e-3"/>
  <xacro:property name="angle_lim_low" value="${-8/18*pi}"/>
  <xacro:property name="angle_lim_high" value="${8/18*pi}"/>

  <!-- first link -->
  <link name="dummy-link"/>

  <joint name="dummy-base" type="fixed">
    <parent link="dummy-link"/>
    <child link="back"/>
    <origin rpy="0 0 0" xyz="${0*scale} ${0*scale} ${150*scale}"/>
  </joint>
  <xacro:body sensors="none"/>
  <xacro:leg n="0" x="132.63" y="74.77" z="-21" rpy="0 0 ${1*pi/4}" parent="front"/>
  <xacro:leg n="1" x="132.63" y="-74.77" z="-21" rpy="0 0 -${1*pi/4}" parent="front"/>
  <xacro:leg n="2" x="-107.63" y="74.77" z="-21" rpy="0 0 ${3*pi/4}" parent="back"/>
  <xacro:leg n="3" x="-107.63" y="-74.77" z="-21" rpy="0 0 -${3*pi/4}" parent="back"/>

  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/quaro</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>

</robot>
